[draggable] {
    -moz-user-select: none;
      -khtml-user-select: none;
        -webkit-user-select: none;
          user-select: none;
}

.cbc-puzzle-unhighlight {
  background-color: #c0c0c0;
}
.cbc-puzzle-highlight {
  background-color: gold;
}

.cbc-puzzle-playing {
  background-color: blue;
}

.cbc-puzzle-correctNode {
  background-color: green;
}

.cbc-puzzle-event {
  width: 65px;
  height: 44px;
  margin-left: 3px;
  margin-right 3px;
  text-align: center;
}

