#puzzleWrap {
	width: 660px;
	height: 330px;
	padding-top: 20px;
	background: url(../images/background.jpg) no-repeat;
	}

#wordMix {
	width: 590px;
	height: 90px;
	margin: 0 auto ;
	border: 1px solid #000;
  overflow: hidden;
	}

#wordMix div {
  float: left;
  margin-right: 10px;
}

#wordTarget {
	width: 590px;
	height: 142px;
	margin: 5px auto 10px;
	border: 1px solid #000;
	}

#wordTarget div.cbc-puzzle-event {
	float: left;
	padding-top: 17px;
	margin-right: 5px;
	margin-bottom: 17px;
	font-size: 16px;
  height: 20px;
  width: 10px;
	}

.cbc-puzzle-eventz {
	float: left;
	padding-top: 17px;
	margin-right: 5px;
	margin-bottom: 17px;
	font-size: 16px;
  height: 20px;
  width: 10px;
}

#timer {
	clear: both;
	float: left;
	margin-left: 40px;
	}

#listen {
	float: right;
	margin-right: 40px;
	}

a.submit {
	clear: both;
	display: block;
	width: 134px;
	height: 42px;
	margin: 0 auto;
	background: url(../images/btn-submit.png) no-repeat;
	text-indent: -9999px;
	}
